[submodule "MLSensor"]
	path = MLSensor
	url = git://github.com/iccs/MLSensor.git
[submodule "STARDOM"]
	path = STARDOM
	url = git://github.com/iccs/STARDOM.git
[submodule "CVSAnaly-ALERT-branch"]
	path = CVSAnaly-ALERT-branch
	url = git://github.com/libresoft/CVSAnaly-ALERT-branch.git
